<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/welcome.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&family=Lato&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            -webkit-font-smoothing: antialiased;
        }

        h1 {
            font-size: xx-large;
        }

        p {
            font-size: larger;
            font-weight: 500;
        }

        h1, p {
            text-align: center;
        }

        a {
            transition: background-color .5s;
        }

        a:hover {
            background-color: #838582;
        }

        .anchorWrap {
            justify-content: center;
            text-align: center;
        }

        .font-exo {
            font-family: 'Exo 2', sans-serif;
        }

        .font-lato {
            font-family: 'Lato', sans-serif;
        }
    </style>
    <script src="//unpkg.com/globe.gl"></script>
    <script type="importmap">
        {
          "imports": {
            "three": "./build/three.module.js",
            "three/examples/jsm/controls/OrbitControls":"./jsm/controls/OrbitControls.js",
            "three/examples/jsm/libs/stats.module":"./jsm/libs/stats.module.js"
          }
        }
    </script>

    <script type="glsl" id="vertex_shader">
        varying vec2 vertexUV;
        varying vec3 vertexNormal;

        void main() {
            vertexUV = uv;
            vertexNormal = normalize(normalMatrix * normal);
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
        }
    </script>

    <script type="glsl" id="fragment_shader">
        uniform sampler2D globeTexture;

        varying vec2 vertexUV;
        varying vec3 vertexNormal;

        void main() {
            float intensity = 1.05 - dot(vertexNormal, vec3(0.0, 0.0, 1.0));
            vec3 atmosphere = vec3(0.3, 0.5, 1.0) * pow(intensity, 1.5);
            gl_FragColor = vec4(atmosphere + texture2D(globeTexture, vertexUV).xyz, 1.0);
        }
    </script>

    <script type="glsl" id="atmosphere_vertex">
        varying vec3 vertexNormal;

        void main() {
            vertexNormal = normalize(normalMatrix * normal);
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
        }
    </script>

    <script type="glsl" id="atmosphere_fragment">
        varying vec3 vertexNormal;

        void main() {
            float intensity = pow(0.7 - dot(vertexNormal, vec3(0, 0, 1.0)), 2.0);
            gl_FragColor = vec4(0.3, 0.6, 1.0, 1.0) * intensity;
        }
    </script>

    <script type='text/javascript'>

        (function()
        {
          if( window.localStorage )
          {
            if( !localStorage.getItem('firstLoad') )
            {
              localStorage['firstLoad'] = true;
              window.location.reload();
            }
            else
              localStorage.removeItem('firstLoad');
          }
        })();
    </script>
</head>

<body>
    <div class="flex h-screen bg-black">
        <div class="w-1/2 flex flex-col justify-center px-8">
            <h1 class="text-white text-4-xl font-exo">Welcome To PresqueOut</h1>
            <br>
            <br>
            <p class="text-gray-400 mb-8 font-lato">
                Our mission is to bring a world class education to your doorstep and equip <br>
                high school students in Hong Kong and Indonesia with useful tools <br>
                to become leaders in the tech industry and anywhere in the world. <br>
                To begin your journey create an account or login. <br>
            </p>
            <br>
            <br>
            <div class="anchorWrap">
                <a href="/users/register" class="text-white bg-green-600 inline-block px-8 py-4 rounded-full font-exo"> Register </a>
                <a href="/users/login" class="text-white bg-green-600 inline-block px-8 py-4 rounded-full font-exo"> Login </a>
            </div>
        </div>
        <div class="w-1/2" id="canvasContainer">
            <canvas></canvas>
        </div>
    </div>
    <script type="module" src="/js/globe.js"></script>
    <!-- <script type="module" src="/js/stars.js"></script> -->
</body>

</html>