@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Khula:700');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway';
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


form {
    display: block;
    width: 390px;
    height: 390px;
    padding-top: 0%;
    margin-left: 50px;
    margin-bottom: 200px;
}


h1.align {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

span {
    text-align: center;
}

button, input {
    transition: background-color .5s;
}

button:hover, input:hover {
    background-color: #838582;
}

input:focus {
    outline: none;
}


.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    /* background: linear-gradient(
        -135deg
        ,#00ff77,#41d0bd,#00ff77); */
    /* background: #000; */
}

.wrap-login {
    width: 900px;
    height: 600px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 130px 33px 95px;
    /* float up animation */
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-name:float-up;
    -moz-animation-name:float-up;
    -o-animation-name:float-up;
    animation-name:float-up;
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-timing-function:ease-out;
    -moz-animation-timing-function:ease-out;
    -o-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    position:absolute;
    top:500px;
    box-shadow: 0 3px 47px rgb(0 0 0 / 100%);
}

.input100 {
    font-family: 'Raleway';
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.login100-form-btn {
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    font-weight: bold;
    /* font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px; */
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.login100-form-title {
    color: rgb(83, 83, 83);
    text-align: center;
    height: 600;
    width: 100%;
    display: block;
    padding-bottom: 24px;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

/*Input Icons*/
.inputContainer i {
    position: absolute;
}

.inputContainer {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 15px;
    color: rgb(105, 105, 105);
    width: 70px;
    text-align: left;
}

.Field {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    padding: 0 30px 0 40px;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
    line-height: 1.5;
    color: #666;
    display: block;
    font-family: 'Raleway';
}

/* Image */
.container {
    width: 300px;
    height: 300px;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}

.hidden {
    opacity:0;
  }

.console-container {
    font-family:Khula;
    font-size:4em;
    font-weight: 500;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top: 800px;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}

@-webkit-keyframes float-up {
    0% {
        top:500px;
        opacity:0;
    }
    25% {
        opacity:1;
    }
    35% {
        top:-20px;
    }
    100% {
        top:60px;
    }
}
@-moz-keyframes float-up {
    0% {
        top:500px;
        opacity:0;
    }
    25% {
        opacity:1;
    }
    35% {
        top:-20px;
    }
    100% {
        top:60px;
    }
}
@-o-keyframes float-up {
    0% {
        top:500px;
        opacity:0;
    }
    25% {
        opacity:1;
    }
    35% {
        top:-20px;
    }
    100% {
        top:60px;
    }
}
@-keyframes float-up {
    0% {
        top:500px;
        opacity:0;
    }
    25% {
        opacity:1;
    }
    35% {
        top:-20px;
    }
    100% {
        top:60px;
    }
}